<nav>
    <section class="contact-icons">
        <span class="material-icons"> email </span>
        <p>SALES@STRINGSONLINE.COM</p>
        <span class="material-icons"> phone </span>
        <p>+45 98 12 22 68</p>
        <div class="cart" [routerLink]="auth.isOnline ? '/Indkøbskurv' : '/'">
            <span class="material-icons"> shopping_cart </span>
            <span *ngIf="auth.isOnline" #quantity class="quantity">{{totalItems}}</span>
        </div>
    </section>
    <figure>
        <img src="../../../assets/images/logo.svg" alt="logo">
        <figcaption class="desktop">
            <ul>
                <li><a routerLink="">Forside</a></li>
                <li><a routerLink="/Salgs-og-handelbetingelser">Salgs- og handelbetingelser</a></li>
                <li *ngIf="!auth.isOnline"><a class="login-button" routerLink="/login">Login</a></li>
                <li *ngIf="auth.isOnline"><a routerLink="/ordrehistorik">Ordrehistorik</a></li>
                <li *ngIf="auth.isOnline"><a class="login-button" (click)="auth.logout()">Logud</a></li>
            </ul>
        </figcaption>
        <figcaption class="mobile">
            <span id="mobile-btn" (click)="openMenu($event)" class="material-icons">
                menu
            </span>
            <ul>
                <span id="close" (click)="closeMenu($event)" class="material-icons">
                    clear
                </span>
                <li><a routerLink="">Forside</a></li>
                <li><a routerLink="/Salgs-og-handelbetingelser">Salgs- og handelbetingelser</a></li>
                <li *ngIf="!auth.isOnline"><a class="login-button" routerLink="/login">Login</a></li>
                <li *ngIf="auth.isOnline"><a routerLink="/ordrehistorik">Ordrehistorik</a></li>
                <li *ngIf="auth.isOnline"><a class="login-button" (click)="auth.logout()">Logud</a></li>
            </ul>
        </figcaption>
    </figure>
    <section class="search-nav">
        <form class="search-form" [formGroup]="search" (ngSubmit)="onSubmit()">
            <input formControlName="search" type="text" placeholder="Indtast søgeord ">
            <button><span class="material-icons"> arrow_forward </span></button>
        </form>
    </section>
</nav>