nav {
    padding: 3em 0;
    display: grid;
    grid-template-columns: 1fr 30%;
    gap: 1em;
    border-bottom: 1px solid #393939;
    @media (max-width: 1800px) {
        grid-template-columns: 1fr 35%;
    }
    @media (max-width: 1600px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 1200px) {
        grid-template-columns: 1fr;
    }
    .contact-icons {
        grid-column: 2;
        display: flex;
        align-items: center;
        @media (max-width: 1800px) {
            grid-column: 2;
            grid-row: 2;
        }
        @media (max-width: 1600px) {
            justify-self: end;
        }
        @media (max-width: 700px) {
            grid-column: 1 / span 2;
            text-align: center;
            justify-self: center;
            font-size: .8em;
        }
        .cart  {
            position: relative;
            margin-left: .5em;
            @media (max-width: 700px) {
               margin-left: 1em;
            }
            cursor: pointer;
            @media (max-width: 700px) {
                margin-top: 1em;
            }
            .quantity {
                position: absolute;
                top: -.6em;
                right: -.7em;
                background-color: #D10061;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                border-radius: 10px;
                @media (max-width: 700px) {
                    left: 50%;
                }
            }
        }
        span {
            & ~span{
                margin-left: .5em
            }
        }
        p {
            margin-left: .5em;
        }
    }
    figure {
        position: relative;
        grid-row: 2;
        @media (max-width: 1800px) {
            grid-column: 1 / span 2;
            grid-row: 1;
        }
        img {
            position: relative;
            z-index: 1;
            width: 300px;
        }
        .desktop {
            position: absolute;
            top: 50%;
            transform: translateY(-56%);
            left: 12%;
            height: 45px;
            width: calc(100% - 12%);
            border: 2px solid white;
            border-radius: 4px;
            ul {
                position: absolute;
                right: 0;
                display: flex;
                top: 50%;
                transform: translateY(-50%);
                    li {
                    list-style: none;
                    a {
                        padding: 1em;
                        margin: 0 .5em;
                        text-decoration: none;
                        transition: 200ms ease-in-out;
                        &:hover {
                            color: var(--highlight);
                        }
                    }
                    .login-button {
                        background-color: var(--highlight);
                        color: var(--dark-font);
                        padding: .2em 2em;
                        border-radius: 4px;
                        &:hover {
                           color: var(--dark-font);
                           box-shadow: 0 0 .4em 1px rgba(0, 249, 183, .6);
                           background-color: var(--highlight);
                        }
                    }
                }
            }
        }

    }
    .search-nav {
        margin-top: 1.68em;
        @media (max-width: 1800px) {
            margin: 0;
            grid-column: 1;
            grid-row: 2;
        }
        @media (max-width: 1200px) {
            grid-row: 3;
            grid-column: 1 / span 2;
        }
        .search-form {
            columns: 1 / 2;
            display: flex;
            input {
                border-radius: 4px;
                padding: .8em;
                width: 100%;
                border: 1px solid var(--border-color);
                background-color: var(--input-fill);
                color: var(--highlight);
                &::placeholder {
                    color: var(--highlight);
                    opacity: .5;
                }
            }
            button {
                margin: .12em;
                border-radius: 4px;
                width: 60px;
                border: none;
                background-color: var(--highlight);
                cursor: pointer;
                span {
                    color: var(--input-fill);
                }
            }
        }
    }
   
}
.wriggle {
    animation: wriggle 200ms ease-in-out forwards;
}

@keyframes wriggle{
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(20deg) scale(1.2);
    }
    75% {
        transform: rotate(-20deg) scale(1.2);
    }
    100% {
        transform: rotate(0);
    }
}
.mobile {
    // border: 2px solid white;
    display: none;
    // background:red;
    position: fixed;
    height: 45px;
    width: 70%;
    right: 0;
    border-radius: 4px;
    text-align: center;
    z-index: 1;
    transform: translateY(-120px);
    @media (max-width: 1200px) {
        width: 82%;
    }
    #mobile-btn {
        font-size: 1.8em;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: .5em;
        background-color: #131313;
        padding: .5em;
        border: 2px solid white;
    }
    ul {
        padding: 5em 5em 5em 5em;
        display: block;
        top: -10px;
        position: absolute;
        left: 50%;
        transform: translate(200%, -50%);
        width: 100vw;
        height: 101vh;
        background-color: var(--dark-font);
        transition: all 200ms ease-in-out;
        #close {
            position: absolute;
            top: 1em;
            right: 1em;
            cursor: pointer;
            user-select: none;
        }
        li {
            list-style: none;
            a {
                display: block;
                padding: 1em;
                text-decoration: none;
                border-bottom: 1px solid #232323;
            }
        }
    }
    .open {
        transform: translate(-60%, -25px) !important;
        user-select: none;

        
    }
    @media (max-width: 1200px) {
        display: block;
    }
}
.desktop {
    @media (max-width: 1200px) {
        display: none !important;
    }
}