<article class="product-card-container">
    <figure>
        <img src="{{image}}" alt="product image">
    </figure>
    <section class="middle-products-card">
        <h2>{{title}}</h2>
        <p *ngIf="url[0] !== 'søg'">{{teaser}} <a class="readMore-products"
                href="/produkt/{{url[0]}}/{{url[1]}}/{{url[2]}}/{{id}}">Læs mere</a>
        <p *ngIf="url[0] === 'søg'">{{teaser}} <a class="readMore-products" href="/produkt/{{url[0]}}/{{url[1]}}">Læs
                mere</a>
        </p>
    </section>
    <section class="right-products-card">
        <p class="price-products">Pris: DKK {{price}}</p>
        <button [disabled]="!auth.isOnline" (click)="cart.addToCart(id, 1)">Læg i kurv</button>
        <p class="stock-products" *ngIf="(stock >= 1)">{{stock}}+ på lager</p>
        <p class="stock-products" *ngIf="(stock <= 0)">Varen er ikke på lager.</p>
    </section>
</article>