<header class="page-header">
    <app-nav></app-nav>
    <breadcrumb></breadcrumb>
</header>
<main class="page-main">
    <app-side-menu></app-side-menu>
    <section class="fontpage-mainContent">
        <figure>
            <img src="../../../assets/images/Acoustic001.jpg" alt="Billede af en guitar">
            <figcaption>
                <h2>Martin <span>GPC-11E</span></h2>
                <p>SERIES ELECTRO ACOUSTIC</p>
                <div>
                    <h3>SE DEN NYE GENERATION HALVACOUSTISKE</h3>
                </div>
                <a routerLink="">LÆS MERE</a>
            </figcaption>
        </figure>
        <section class="favorites-frontpage">
            <h2>Kundernes favoritter</h2>
            <section class="favorites-frontpage-card-container">

                <card-frontpage *ngFor="let item of product" [image]="item.image_fullpath" [title]="item.name"
                    [teaser]="item.description_short" [price]="item.price" [id]="item.id">
                </card-frontpage>
            </section>

        </section>
    </section>
</main>