<aside class="left-menu" *ngIf="http.products$ | async as products">
    <details *ngFor="let product of products">
        <summary>{{product.title}}</summary>
        <div class="dropdown-links">
            <a *ngFor="let item of product.subgroups"
                routerLink="/produkter/{{product.title}}/{{item.title}}/{{item.id}}/">{{item.title}}</a>
        </div>
    </details>
    <details *ngIf="brands">
        <summary>Brands</summary>
        <div class="dropdown-links">
            <a *ngFor="let item of brands" routerLink="/produkter/brands/{{item.id}}">{{item.title}}</a>
        </div>
    </details>
</aside>