footer {
    // position: absolute;
    background-color: #393939;
    padding: 1em 10%;
    // bottom: 0;
    width: 100%;
    figure {
        margin: 0 auto;
        width: 400px;
        img {
            width: 100%;
        }
    }
}