/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
body {
    background-color: #131313;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
a,
span, 
button, 
details, 
summary {
    color: white;
}
p {
    font-size: .8em;
}


.page-header, .page-main {
    width: 80%;
    margin: 0 auto 1em auto;
}
// page colors as variables
:root {
    --dark-font: #131313;
    --highlight: #00F9B6;
    --border-color: #1F5E5B;
    --input-fill: #0A1D1C;
}